*{
    margin: 0;
    padding: 0;
}

body{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;

}

.main{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#ff0081,#6827b0);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(1.5);

}

.container{
	position: absolute;
	text-align: center;
	top: 45%;
	left: 50%;
	transform: translate(-45%,-50%);
	width: max-content;
}



h1{
    color: aliceblue;
}

p{
    color: aliceblue;
}

a{
    color: aliceblue;
}

#apple{
    text-decoration: none;
    border: 2px solid white;
    border-radius: 30px;
    padding: 10px;
}

#apple:hover{
    color: #ff0081;
    background: whitesmoke;
    transition: 0.5s ease-in;
}